<header>
    <div class="main-navbar">
        <div class="col-md-7 offset-md-2">
            <div class="container">
                <div class="nav-left">
                    <ul> 
                        <li>
                            <a href="">Currency:</a>
                        </li>  
                    </ul>
                </div>
                <div class="nav-right">
                    <ul class="">
                        <li>
                            <a routerLink="register">Register</a>
                        </li>
                        <li>
                            <a routerLink="register">Sign In</a>
                        </li>
                        <li >
                            
                            <a class="navcar"  href="#">
                                <i class="icon-shopping-cart"></i>Empty
                                <i class="icon icon-down-open"></i>
                            </a>
                        </li>
                    </ul>
                </div> 
            </div>
        </div>
    </div>
</header>

    <!-- ---------------------------------------------- -->
    <!-- ---------------SECONDARY MENU----------------- -->
    <!-- ---------------------------------------------- -->
    
    <div class="container-fluid clearfix">
        <div class="subnav subnav d-flex justify-content-between">
            <div>
                <a class="navlogo" routerLink="index"></a>
            </div>
            <!-- subnav-menu  -->
            <div class="d-flex justify-content-end">
                <ul class="subnav-items">
                    <li id="subnav-men">
                        <a class="monserrbold title dropdown">MEN</a>
                        <div class="mens-menu-wraper">
                            <div class="mens-menu">
                                <ul class="mens-menu-list">
                                        <li class="monserrbold">casuals</li>
                                        <br>
                                        <li><a href="">Jackets</a></li>
                                        <li><a href="">Hoddies & Sweatshirts</a></li>
                                        <li><a href="">Polo shirts</a></li>
                                        <li><a href="">Sportswear</a></li>
                                        <li><a href="">Trousers & Chinos</a></li>
                                        <li><a href="">T-shirts</a></li>
                                    </ul>
                                    <ul class="mens-menu-list">
                                        <li class="monserrbold">formal</li>
                                        <br>
                                        <li><a href="">Jackets</a></li>
                                        <li><a href="">Shirts</a></li>
                                        <li><a href="">Suits</a></li>
                                        <li><a href="">Trousers</a></li>
                                    </ul>
                                    <div class="mens-menu-message">
                                        <h3 class="monserrbold">Autum sale</h3>
                                        <h3 class="monserreg">UP to 50% off</h3>
                                    </div>    
                            </div>
                        </div>
                    </li>
                    
                    <li id="subnav-women">
                        <a class="monserrbold title dropdown">WOMEN</a>
                        <div class="women-menu-wraper">
                            <div class="mens-menu">
                                <ul class="mens-menu-list">
                                        <li class="monserrbold">casuals</li>
                                        <br>
                                        <li><a href="">Jackets</a></li>
                                        <li><a href="">Hoddies & Sweatshirts</a></li>
                                        <li><a href="">Polo shirts</a></li>
                                        <li><a href="">Sportswear</a></li>
                                        <li><a href="">Trousers & Chinos</a></li>
                                        <li><a href="">T-shirts</a></li>
                                    </ul>
                                    <ul class="mens-menu-list">
                                        <li class="monserrbold">formal</li>
                                        <br>
                                        <li><a href="">Jackets</a></li>
                                        <li><a href="">Shirts</a></li>
                                        <li><a href="">Suits</a></li>
                                        <li><a href="">Trousers</a></li>
                                    </ul>
                                    <div class="mens-menu-message">
                                        <h3 class="monserrbold">Autum sale</h3>
                                        <h3 class="monserreg">UP to 50% off</h3>
                                    </div>    
                            </div>
                        </div>
                    </li>
                    
                    <li>
                        <a class="monserrbold title" routerLink="brand">THE BRAND</a>
                    </li>
                    <li>
                        <a class="monserrbold title" href="local-stores.html">LOCAL STORES</a>
                    </li>
                    <li id="subnav-lookbook">
                        <a class="monserrbold title dropdown" href="lookbook.html">LOOK BOOK</a>
                        <div class="lookbook-menu-wraper">
                            <div class="mens-menu">
                                <ul class="mens-menu-list">
                                        <li class="monserrbold">Our lookbooks</li>
                                        <br>
                                        <li><a href="">Latest Posts (mixed)</a></li>
                                        <li><a href="">Men's Lookbook</a></li>
                                        <li><a href="">Women's Lookbook</a></li>
                                    </ul>
                                    <ul class="mens-menu-list">
                                        <li class="monserrbold">Your Lookbook</li>
                                        <br>
                                        <li><a href="">View and Edit</a></li>
                                        <li><a href="">Share</a></li>
                                        <li><a href="">Delete</a></li>
                                    </ul>
                                    <div class="mens-menu-message">
                                        <h3 class="monserrbold">Autum sale</h3>
                                        <h3 class="monserreg">UP to 50% off</h3>
                                    </div>    
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="nav-search">
                    <form id="search" action="">
                        <input type="text" placeholder="Search...">
                        <button id="button-search"><i class="icon icon-search"></i></button>
                    </form>
                </div>
            </div>
            
        </div>
    </div>