<!-- --------------------------------------------------------------------------- -->
<!-- ------------------------------BANNER-------------------------------------- -->
<!-- --------------------------------------------------------------------------- -->
<div class="container-fluid">
    <div class="brand-banner">
        <div class="overlay-dark"></div>
        <div class="banner-title">
                <h1>
                    <span class="monserrbold">the</span> <span class="monserreg">brand</span>
                </h1>
                <h4>
                    <span class="monserreg">Company slogan goes here</span>
                </h4>
        </div>
    </div>            
</div>

<!-- --------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------- -->
<!-- ------------------------------CONTENT-------------------------------------- -->
<!-- --------------------------------------------------------------------------- -->

<section class="container clearfix">
    <div class="col-md-10  offset-md-1">
        <div class="container brand-content">
            <div class="row">
                <div class="col-md-6 d-flex flex-column justify-content-between">
                    <div class="brand-image">
                        <img src="assets/img/brand-content1.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="brand-image">
                        <img src="assets/img/brand-content3.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="brand-text">
                        <h3 class="monserrbold title">Hand designed clothing</h3>
                        <h4 class="monserrbold subtitle">Established Lorem ipsum dolor sit amet consectetur</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque debitis ipsam voluptates laborum id necessitatibus quidem odio est in. Officiis, sequi sit? Beatae suscipit error dolorum commodi a, sit soluta!</p> 
                    </div>
                </div>
                    
                <div class="col-md-6 d-flex flex-column justify-content-between">
                    <div class="brand-text">
                        <h3 class="monserrbold title">Hand designed clothing</h3>
                        <h4 class="monserrbold subtitle">Established Lorem ipsum dolor sit amet consectetur</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque debitis ipsam voluptates laborum id necessitatibus quidem odio est in. Officiis, sequi sit? Beatae suscipit error dolorum commodi a, sit soluta!</p> 
                    </div>
                        
                    <div class="brand-image">
                        <img src="assets/img/brand-content2.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="brand-text">
                        <h3 class="monserrbold title">Hand designed clothing</h3>
                        <h4 class="monserrbold subtitle">Established Lorem ipsum dolor sit amet consectetur</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque debitis ipsam voluptates laborum id necessitatibus quidem odio est in. Officiis, sequi sit? Beatae suscipit error dolorum commodi a, sit soluta!</p> 
                    </div>
                    <span>
                        <img src="assets/img/brand-awards.png" alt="" class="img-fluid">
                    </span>
                </div>
            </div>
                        
        </div>
    </div>
</section>