<footer class="container-fluid clearfix">
    <div class="container" >
        <div class="col-md-10 offset-md-1">
            <div class="footer-nav">
                <ul class="footer-list">
                    <li class="monserrbold">Information</li>
                    <br>
                    <li><a href="">The Brand</a></li>
                    <li><a href="">Local stores</a></li>
                    <li><a href="">Customer service</a></li>
                    <li><a href="">Privacy & cookies</a></li>
                    <li><a href="">Site map</a></li>
                </ul>
                <ul class="footer-list">
                    <li class="monserrbold">Why buy form us</li>
                    <br>
                    <li><a href="">Shipping & returns</a></li>
                    <li><a href="">Secure shopping</a></li>
                    <li><a href="">Testimonials</a></li>
                    <li><a href="">Awar winning</a></li>
                    <li><a href="">Ethical trading</a></li>
                </ul>
                <ul class="footer-list">
                    <li class="monserrbold">Your account</li>
                    <br>
                    <li><a href="">Sign in</a></li>
                    <li><a href="">Register</a></li>
                    <li><a href="">View cart</a></li>
                    <li><a href="">View your lookbook</a></li>
                    <li><a href="">Track an order</a></li>
                    <li><a href="">Update information</a></li>
                </ul>
                <ul class="footer-list">
                    <li class="monserrbold">Lookbook</li>
                    <br>
                    <li><a href="">Latest post</a></li>
                    <li><a href="">Men's lookbok</a></li>
                    <li><a href="">Women's lookbok</a></li>
                    <li><a href="">Lookbooks RSS feed</a></li>
                    <li><a href="">View your lookbook</a></li>
                    <li><a href="">Delete your lookbook</a></li>
                </ul>
                <ul class="footer-list">
                    <li class="monserrbold">Contact details</li>
                    <br>
                    <li><a href="">Head office: Avenue Fashion, 180-182 Regent Street, London</a></li>
                    <li><a href="">Telephone; 0122-456-789</a></li>
                    <li><a href="">Email: suport@yourwebsite.com</a></li>
                </ul>
            </div>

            <div class="footer-social">
                <div class="award-winner">
                    <h4 class="monserrbold">award winner</h4>
                    <h4 class="monserreg">fashion awards 2019</h4>
                </div>
                <div class="social-icons">
                    <a href=""><i class="icon-facebook social-icons-buttons"></i></a>
                    <a href=""><i class="icon-twitter social-icons-buttons"></i></a>
                    <a href=""><i class="icon-instagrem social-icons-buttons"></i></a>
                    <a href=""><i class="icon-pinterest-circled social-icons-buttons"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container" >
            <div class="col-md-10 offset-md-1">
                @ {{anio}} Avenue Fashion <sup>TM</sup>
                <span class="float-right">Design by RobbyDesigns.com      -   Dev by <a href="https://jaw7388.github.io/portfolio/" target="_blank">John Espindola</a></span>
            </div>
        </div>
    </div>
</footer>